html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #121327;
  overflow: hidden;
}

body {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
  image-rendering: auto;
}
